<html lang="en">
<body>
    <p>The account {{user.email}} has been deleted giving the following comment:</p>
    <p>{{comment}}</p>
    <p>Created: {{user.created}}, isVerified {{user.isVerified}}</p>
    <p>
        ---------- <br />
        FOCUS <br />
        Tools for Photographers <br />
    </p>
</body>
</html>