<html lang="en">
<body>
    <p>You've changed your email address.</p>
    <p>You need to verify your new email address. Open the link below in your web browser:</p>
    <br />
    <p><a href="http://localhost:8080/verify/{{code}}">http://localhost:8080/verify/{{code}}</a></p>
    <br />
    <p>If you didn't request this change please contact customer support immediately at <a href="mailto:support@focus.com">support@focus.com</a></p>
    <p>
        ---------- <br />
        FOCUS <br />
        Tools for Photographers <br />
    </p>
</body>
</html>