<html lang="en">
<body>
    <p>You've changed your password.</p>
    <p>Just letting you know your recent password change was successful.</p>
    <p>If you didn't request this change please contact customer support immediately at <a href="mailto:support@focus.com">support@focus.com</a></p>
    <p>
        ---------- <br />
        FOCUS <br />
        Tools for Photographers <br />
    </p>
</body>
</html>