<html lang="en">
<body>
<p>Your temporary verification code is:</p>
<br />
<p>{{code}}</p>
<br />
<p>This code is valid for 1 hour, please use it immediately.</p>
<p>
    ---------- <br />
    FOCUS <br />
    Tools for Photographers <br />
</p>
</body>
</html>